.footer {
    background: #000;
    color: #fff;
    font-size: 0.857rem;
    text-align: center;
    padding: 10px 32px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
}

.footer small {
    font-size: 0.857rem;
}
