@import '/styles/utils/breakpoint';
@import '/styles/utils/mixin';

.section-title {
    font-size: 1.714rem;
    margin-bottom: 20px;
    padding: 5px 40px;
    background: #000000;
    color: #ffffff;
    text-align: center;
  }
  